@font-face {
  font-family: 'DMSerifText';
  src: url('./DMSerifText-RegularItalic.ttf') format('ttf'),
       url('./DMSerifText-Regular.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  font-family: 'DMSerifText';
  background: url('./proper.gif');
}
